/Exercicio1_ Sistema_de_Animais/nbproject/private/
/Exercicio1_ Sistema_de_Animais/build/
/Exercicio2_Sistema_de_Veiculos/nbproject/private/
/Exercicio2_Sistema_de_Veiculos/build/
/Exercicio3_Funcionarios_de_Empresa/nbproject/private/
/Exercicio3_Funcionarios_de_Empresa/build/
/Exercicio4 _Sistema_Bancario/nbproject/private/
/Exercicio4 _Sistema_Bancario/build/
/Exercicio5_Sistema_Escolar/nbproject/private/
/Exercicio5_Sistema_Escolar/build/
/Exercicio6_Sistema_de_Produtos/nbproject/private/
/Exercicio6_Sistema_de_Produtos/build/
/Exercicio7_Sistema_de_Formas_Geometricas/nbproject/private/
/Exercicio7_Sistema_de_Formas_Geometricas/build/
/Exercicio8_Sistema_de_Pagamentos/nbproject/private/
/Exercicio8_Sistema_de_Pagamentos/build/
/Exercicio_9_Personagens_de_Jogo/nbproject/private/
/Exercicio_9_Personagens_de_Jogo/build/
/Exercicio10_Sistema_de_Transporte/nbproject/private/
/Exercicio10_Sistema_de_Transporte/build/
/Exercicio11_Sistema_de_Dispositivos_Eletronicos/nbproject/private/
/Exercicio11_Sistema_de_Dispositivos_Eletronicos/build/
/Exercicio12_Sistema_de_Profissoes/nbproject/private/
/Exercicio12_Sistema_de_Profissoes/build/
/Exercicio13_Sistema_de_Notificacoes/nbproject/private/
/Exercicio13_Sistema_de_Notificacoes/build/
/Exercicio14_Sistema_de_Midia/nbproject/private/
/Exercicio14_Sistema_de_Midia/build/
/Exercicio15_Sistema_de_Restaurante/nbproject/private/
/Exercicio15_Sistema_de_Restaurante/build/
/Exercicio16_Sistema_Hospitalar/nbproject/private/
/Exercicio16_Sistema_Hospitalar/build/
/Exercicio17_Sistema_de_Biblioteca/nbproject/private/
/Exercicio17_Sistema_de_Biblioteca/build/
/Exercicio18_Sistema_de_Imoveis/nbproject/private/
/Exercicio18_Sistema_de_Imoveis/build/
/Exercicio18_Sistema_de_Imoveis/dist/
/Exercicio19_Sistema_de_Cursos/nbproject/private/
/Exercicio19_Sistema_de_Cursos/build/
/Exercicio20_Sistema_de_Zoologico/nbproject/private/
/Exercicio20_Sistema_de_Zoologico/build/